extends layout

block content
    h1 Welcome
    ul
        for message in messages
            li
                h4= message.title
                p= message.message
                if currentUser
                    if currentUser.membership_status !== "user"
                        h6= message.user.name
                        h6= message.added_formatted
                    if currentUser.membership_status === "admin"
                        form.delete-form(method='POST' action='/delete-message')
                            input(type='hidden' name='id' required='true', value=message._id)
                            .btn-container
                                button.delete-button(type="submit") Delete